@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-font: 'Lexend Deca', sans-serif;
$secondary-font: 'Space Mono', monospace;
$background-color: #fff;
$primary-color: #FCB72B;
$secondary-color: #333A44;
$tertiary-color: #495567;


// mixins
@mixin transition-ease {
    transition: all 0.5s ease-in-out;
  }

//functions
@function set-text-color($color) {
    @if (lightness($color) > 40%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }