
body {
    font-family: $primary-font;
    font-size: 1.5rem;
    background-color: $background-color;
}

header {
    margin-top: 6rem;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: $primary-color;
    @include transition-ease;
}

button {
    border: none;
    outline: none;
    background: $primary-color;
    font-family: $secondary-font;
    font-weight: 700;
    color: white;
    width: 192px;
    height: 53px;

    &:hover {
        @include transition-ease;
        background-color: white;
        color: $primary-color;
        border: 12px solid $primary-color;
    }
}
