nav {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6rem;
    background-color: $background-color;
    align-items: center;
    justify-content: center;
}

    .menu-btn {
        position: absolute;
        left: 1rem;
        height: 20px;
        width: 28px;
        cursor: pointer;
        @include transition-ease;

        &__burger {
            position: absolute;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: $primary-color;

            &::before {
                content: "";
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: $primary-color;
                @include transition-ease;
            }
            &::after {
                content: "";
                position: absolute;
                top: 8px;
                width: 28px;
                height: 3px;
                background: $primary-color;
                @include transition-ease;
            }  
            &.open {
                transform: rotate(720deg);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(5px, 8px);
                }

                &::after {
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }         
        }

        
    }
    
    .img-logo {
        background: no-repeat center url('../assets/logo.svg');
        width: 8rem;
        height: 4rem;
    }


    .nav {
        position: fixed;
        top: 6rem;
        left: 0;
        width: 100vw;
        opacity: 0.98;
        visibility: hidden;
      
        &.open {
          visibility: visible;
        }
      
        .menu-nav {
          display: flex;
          flex-flow: column wrap;
          height: 100vh;
          overflow: hidden;
          background: $secondary-color;
          padding-top: 6rem;
          padding-left: 2rem;
          transform: translateX(-100vw);
          @include transition-ease;
      
          &.open {
            transform: translateX(0);
          }
      
          &__item {
            transform: translateX(100vw);
            @include transition-ease;
      
            &.open {
             transform: translateX(0); 
            }
          }
      
        }
      }
      
      @for $i from 1 through 4 {
        .menu-nav__item:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s) + 0.15s;
        }
      }

    


